@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --primary_color: #0282f9;
  --secondary_color: #fff;
  --header_link: #464646;
  --footer_link: #959595;
  --main_bg_color: #1c1c1c;
  --footer_bg_color: #303030;
  --social_bg_color: #797979;
  --description_primary: #003F5E;
  --description_light: #0392b6;
  --bg_descriprion: #F6F6F6;
  --description_row: #e3e3e3;
  /*containers*/
  --container_md: 75rem;
  --container_sm: 37.5rem;
  --container_s: 31.25rem;
  /*spaces*/
  --xxs: .0625rem;
  --xs: .3125rem;
  --s: .625rem;
  --s-m: 1.25rem;
  --md: 1.5625rem;
  --lg: 3.125rem;
  --xlg: 6.25rem;
  --xxlg: 18.75rem;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-transform: uppercase;
  text-decoration: none;
}

ul li {
  list-style: none;
}

input {
  border: none;
  outline: none;
  text-align: end;
  padding: 0 var(--s);
  width: var(--xlg);
}

input::-webkit-input-placeholder {
  color: var(--header_link);
  font-weight: bold;
}

h1,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h5,
h3 {
  margin: var(--s) 0;
  color: var(--secondary_color);
}

h5 {
  font-size: 0.875rem;
  font-weight: 300;
}

.btn_custom {
  padding: 0.5rem var(--lg);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--secondary_color);
  border: none;
  font-family: inherit;
}

.active {
  color: var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
}

header {
  text-transform: uppercase;
}
header .container {
  width: var(--container_md);
  margin: auto;
  display: flex;
  align-items: center;
}
header .container nav {
  flex-grow: 1;
}
header .container nav ul {
  display: flex;
  justify-content: space-evenly;
}
header .container nav ul li {
  padding: 2.5rem 0;
}
header .container nav ul li:last-child::after {
  content: "\25BC";
  font-size: 0.75rem;
  color: var(--primary_color);
  padding: 0 var(--s);
}
header .container img {
  width: 5rem;
}
header .header_top {
  background-color: var(--primary_color);
  padding: var(--xs) 0;
  text-align: end;
  font-size: 0.875rem;
}
header .header_top .top,
header .header_top a {
  color: var(--secondary_color);
}
header .header_top .top {
  justify-content: flex-end;
  gap: var(--s-m);
}
header .header_top span:last-child::after {
  content: "\25BC";
}
header .header_bottom {
  color: var(--header_link);
}
header .header_bottom a {
  color: inherit;
  padding: 2.5rem 0;
  font-weight: bold;
}
header .header_bottom span {
  border-bottom: 2px solid var(--primary_color);
}

.hero {
  height: 25rem;
  overflow: hidden;
}

.link {
  background-color: var(--primary_color);
  color: var(--secondary_color);
  padding: var(--md) 0;
}
.link .container {
  max-width: var(--container_md);
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.link .container .link_box {
  display: flex;
  align-items: center;
  gap: var(--s);
}
.link .container .link_box img {
  width: var(--lg);
}
.link .container .link_box a {
  color: inherit;
}
.link .container .link_box:nth-child(4) img {
  transform: scale(0.8);
}

.cards {
  background-color: var(--main_bg_color);
  padding-top: 2.5rem;
  text-align: center;
}
.cards .cards_container {
  max-width: var(--container_md);
  margin: auto;
  position: relative;
}
.cards .cards_container .btn_current {
  position: absolute;
  top: -5.3125rem;
  left: 0;
  font-size: var(--md);
}
.cards .cards_container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}
.cards .cards_container ul li {
  width: calc(16.6666666667% - 20px);
}
.cards .cards_container ul .card_box {
  text-align: left;
  max-width: 12.5rem;
}
.cards .cards_container ul .card_box .img_box {
  height: 11rem;
  overflow: hidden;
}
.cards .cards_container ul .card_box .img_box img {
  width: 100%;
}
.cards .cards_container button {
  background-color: var(--primary_color);
  margin: 1.25rem 0;
}

.card_selected {
  background-image: linear-gradient(var(--primary_color) 3.125rem, var(--secondary_color) 3.125rem);
  padding-top: 30px;
}
.card_selected .desc_details {
  background-color: var(--bg_descriprion);
  border-top: 1px solid var(--description_row);
}
.card_selected .desc_details .details {
  display: flex;
  gap: var(--xlg);
}
.card_selected .desc_details .details h3 {
  color: var(--description_primary);
  text-transform: capitalize;
  margin: 0;
}
.card_selected .desc_details .details .box_desc_left,
.card_selected .desc_details .details .box_desc_right {
  display: flex;
  flex-direction: column;
  width: var(--container_sm);
}
.card_selected .desc_details .details .box_desc_left .series span:last-child,
.card_selected .desc_details .details .box_desc_right .series span:last-child {
  color: var(--description_light);
  text-transform: uppercase;
}
.card_selected .desc_details .details .box_desc_left > *:not(h3),
.card_selected .desc_details .details .box_desc_right > *:not(h3) {
  border-bottom: 1px solid var(--description_row);
  padding: var(--s) 0;
  font-size: 0.875rem;
}
.card_selected .desc_details .details .box_desc_left h3,
.card_selected .desc_details .details .box_desc_right h3 {
  padding: var(--s-m) 0;
}
.card_selected .desc_details .details .box_desc_left .row,
.card_selected .desc_details .details .box_desc_right .row {
  display: flex;
}
.card_selected .desc_details .details .box_desc_left .row span:first-child,
.card_selected .desc_details .details .box_desc_right .row span:first-child {
  width: 50%;
}
.card_selected .desc_details .details .box_desc_left ul li,
.card_selected .desc_details .details .box_desc_right ul li {
  display: inline-block;
}
.card_selected .desc_details .details .box_desc_left ul li a,
.card_selected .desc_details .details .box_desc_right ul li a {
  color: var(--description_light);
  text-transform: capitalize;
}
.card_selected .nav_card {
  display: flex;
  padding-top: var(--xlg);
}
.card_selected .nav_card .link_to {
  border: 1px solid var(--description_row);
  color: grey;
  display: flex;
  justify-content: space-between;
  width: 16.6666666667%;
  padding: var(--s-m);
}
.card_selected .nav_card .link_to img {
  height: var(--lg);
}

footer {
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--footer_link);
}
footer .footer_top {
  width: var(--container_md);
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .footer_top .container_left {
  width: var(--container_s);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--lg) 0;
}
footer .footer_top .container_left .adv {
  padding-top: var(--md);
  font-size: 0.875rem;
}
footer .footer_top .container_left .adv a {
  color: var(--primary_color);
}
footer .footer_top a {
  text-transform: capitalize;
  color: inherit;
  font-size: 0.875rem;
}
footer .footer_top .container_right {
  width: var(--container_s);
  background-image: url("../img/dc-logo-bg.png");
  background-position: center;
  background-size: cover;
}

.selected_container {
  max-width: var(--container_md);
  margin: auto;
  position: relative;
  color: var(--description_primary);
}
.selected_container.desc {
  display: flex;
  align-items: center;
  padding: var(--lg) 0;
  gap: var(--lg);
}
.selected_container.desc h4 {
  text-align: end;
}
.selected_container .book_box {
  position: absolute;
  top: -13.75rem;
  width: 9.375rem;
  border: 1px solid var(--secondary_color);
}
.selected_container .book_box .book {
  width: 100%;
}
.selected_container .book_box a {
  position: absolute;
  left: 0;
  color: var(--secondary_color);
  background-color: var(--primary_color);
  padding: 2px var(--xs);
  font-size: 0.75rem;
}
.selected_container .book_box a:first-child {
  top: 0;
}
.selected_container .book_box a:last-child {
  bottom: 0;
  width: 100%;
  text-align: center;
}
.selected_container .description_box {
  padding: 3.75rem 0;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  gap: var(--md);
}
.selected_container .description_box p {
  color: var(--header_link);
}
.selected_container .description_box .availability {
  display: flex;
  align-items: center;
  background-color: #55BA59;
  color: var(--secondary_color);
  border-bottom: 1px solid var(--header_link);
  padding: 0 var(--md);
  gap: 0.3125rem;
}
.selected_container .description_box .availability > * {
  padding: var(--s) 0;
}
.selected_container .description_box .availability span:nth-child(odd) {
  color: rgba(255, 255, 255, 0.7);
}
.selected_container .description_box .availability span:nth-child(3) {
  flex-grow: 1;
  text-align: end;
  padding-right: var(--md);
}
.selected_container .description_box .availability span:last-child {
  border-left: 1px solid var(--header_link);
  padding-left: var(--md);
}