@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --primary_color: #0282f9;
  --secondary_color: #fff;
  --header_link: #464646;
  --footer_link: #959595;
  --main_bg_color: #1c1c1c;
  --footer_bg_color: #303030;
  --social_bg_color: #797979;
  /*containers*/
  --container_md: 75rem;
  --container_sm: 37.5rem;
  --container_s: 31.25rem;
  /*spaces*/
  --xxs: .0625rem;
  --xs: .3125rem;
  --s: .625rem;
  --s-m: 1.25rem;
  --md: 1.5625rem;
  --lg: 3.125rem;
  --xlg: 6.25rem;
  --xxlg: 18.75rem;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-transform: uppercase;
  text-decoration: none;
}

ul li {
  list-style: none;
}

input {
  border: none;
  outline: none;
  text-align: end;
  padding: 0 var(--s);
  width: var(--xlg);
}

input::-webkit-input-placeholder {
  color: var(--header_link);
  font-weight: bold;
}

h5,
h3 {
  text-transform: uppercase;
  margin: var(--s) 0;
  color: var(--secondary_color);
}

h5 {
  font-size: 0.875rem;
  font-weight: 300;
}

.btn_custom {
  padding: 0.5rem var(--lg);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--secondary_color);
  border: none;
  font-family: inherit;
}

header {
  text-transform: uppercase;
}
header .container {
  width: var(--container_md);
  margin: auto;
  display: flex;
  align-items: center;
}
header .container nav {
  flex-grow: 1;
  padding: 2.5rem;
}
header .container nav ul {
  display: flex;
  justify-content: space-between;
}
header .container nav ul li:last-child::after {
  content: "\25BC";
  font-size: 0.75rem;
  color: var(--primary_color);
  padding: 0 var(--s);
}
header .container img {
  width: 5rem;
}
header .header_top {
  background-color: var(--primary_color);
  padding: var(--xs) 0;
  text-align: end;
  font-size: 0.875rem;
}
header .header_top .top,
header .header_top a {
  color: var(--secondary_color);
}
header .header_top .top {
  justify-content: flex-end;
  gap: var(--s-m);
}
header .header_top span:last-child::after {
  content: "\25BC";
}
header .header_bottom {
  color: var(--header_link);
  padding: 0.1875rem 0;
}
header .header_bottom a {
  color: inherit;
  padding: 2.5rem 0;
  font-weight: bold;
}
header .header_bottom a:hover {
  color: var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
}
header .header_bottom span {
  border-bottom: 2px solid var(--primary_color);
}

.hero {
  height: 25rem;
  overflow: hidden;
}

.link {
  background-color: var(--primary_color);
  color: var(--secondary_color);
  padding: var(--md) 0;
}
.link .container {
  max-width: var(--container_md);
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.link .container .link_box {
  display: flex;
  align-items: center;
  gap: var(--s);
}
.link .container .link_box img {
  width: var(--lg);
}
.link .container .link_box a {
  color: inherit;
}
.link .container .link_box:nth-child(4) img {
  transform: scale(0.8);
}

.cards {
  background-color: var(--main_bg_color);
  padding-top: 2.5rem;
  text-align: center;
}
.cards .cards_container {
  max-width: var(--container_md);
  margin: auto;
  position: relative;
}
.cards .cards_container .btn_current {
  position: absolute;
  top: -5.3125rem;
  left: 0;
  font-size: var(--md);
}
.cards .cards_container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}
.cards .cards_container ul li {
  width: calc(16.6666666667% - 20px);
}
.cards .cards_container ul .card_box {
  text-align: left;
  max-width: 12.5rem;
}
.cards .cards_container ul .card_box .img_box {
  height: 11rem;
  overflow: hidden;
}
.cards .cards_container ul .card_box .img_box img {
  width: 100%;
}
.cards .cards_container button {
  background-color: var(--primary_color);
  margin: 1.25rem 0;
}

.card_selected {
  background-image: linear-gradient(var(--primary_color) 30%, var(--secondary_color) 30%);
  padding-top: 30px;
}
.card_selected .selected_container {
  max-width: var(--container_md);
  margin: auto;
}

footer {
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--footer_link);
}
footer .footer_top {
  width: var(--container_md);
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .footer_top .container_left {
  width: var(--container_s);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--lg) 0;
}
footer .footer_top .container_left .adv {
  padding-top: var(--md);
  font-size: 0.875rem;
}
footer .footer_top .container_left .adv a {
  color: var(--primary_color);
}
footer .footer_top a {
  text-transform: capitalize;
  color: inherit;
  font-size: 0.875rem;
}
footer .footer_top .container_right {
  width: var(--container_s);
  background-image: url("../img/dc-logo-bg.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .cards .cards_container ul li {
    width: calc(20% - 20px);
  }
}
@media (max-width: 576px) {
  .cards .cards_container ul li {
    width: calc(25% - 20px);
  }
}