.hero {
    height: 25rem;
    overflow: hidden;
}
.link {
    background-color: var(--primary_color);
    color: var(--secondary_color);
    padding: var(--md) 0;
    .container {
        max-width: var(--container_md);
        margin: auto;
        display: flex;
        justify-content: space-around;
        .link_box {
            display: flex;
            align-items: center;
            gap: var(--s);
            & img {
                width: var(--lg);
            }
            & a {
                color: inherit;
            }
            &:nth-child(4) img {
                transform: scale(0.8);
            }
        }
    }
}
.cards {
    background-color: var(--main_bg_color);
    padding-top: 2.5rem;
    text-align: center;
    .cards_container {
        max-width: var(--container_md);
        margin: auto;
        position: relative;
        .btn_current {
            position: absolute;
            top: -5.3125rem;
            left: 0;
            font-size: var(--md);
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.25rem;
            li {
                width: calc(100% / 6 - 20px);
            }
            .card_box {
                text-align: left;
                max-width: 12.5rem;
                .img_box {
                    height: 11rem;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        button {
            background-color: var(--primary_color);
            margin: 1.25rem 0;
        }
    }
}
.card_selected {
    background-image: linear-gradient(var(--primary_color) 3.125rem, var(--secondary_color) 3.125rem);
    padding-top: 30px;
    .desc_details {
        background-color: var(--bg_descriprion);
        border-top: 1px solid var(--description_row);
        .details {
            display: flex;
            gap: var(--xlg);
            h3 {
                color: var(--description_primary);
                text-transform: capitalize;
                margin: 0;
            }
            .box_desc_left,
            .box_desc_right {
                display: flex;
                flex-direction: column;
                width: var(--container_sm);
                .series span:last-child {
                    color: var(--description_light);
                    text-transform: uppercase;
                }
                & > *:not(h3) {
                    border-bottom: 1px solid var(--description_row);
                    padding: var(--s) 0;
                    font-size: .875rem;
                }
                h3 {
                    padding: var(--s-m) 0;
                }
                .row {
                    display: flex;
                    span:first-child {
                        width: 50%;
                    }
                    
                }
                ul li {
                    display: inline-block;
                    a {
                        color: var(--description_light);
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    .nav_card {
        display: flex;
        padding-top: var(--xlg);
        .link_to {
            border: 1px solid var(--description_row);
            color: grey;
            display: flex;
            justify-content: space-between;
            width: calc(100% / 6);
            padding: var(--s-m);
            img {
                height: var(--lg);
            }
        }
    }
}
