.hero {
    height: 25rem;
    overflow: hidden;
}
.link {
    background-color: var(--primary_color);
    color: var(--secondary_color);
    padding: var(--md) 0;
    .container {
        max-width: var(--container_md);
        margin: auto;
        display: flex;
        justify-content: space-around;
        .link_box {
            display: flex;
            align-items: center;
            gap: var(--s);
            & img {
                width: var(--lg);
            }
            & a {
                color: inherit;
            }
            &:nth-child(4) img {
                transform: scale(0.8);
            }
        }
    }
}
.cards {
    background-color: var(--main_bg_color);
    padding-top: 2.5rem;
    text-align: center;
    .cards_container {
        max-width: var(--container_md);
        margin: auto;
        position: relative;
        .btn_current {
            position: absolute;
            top: -5.3125rem;
            left: 0;
            font-size: var(--md);
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.25rem;
            li {
                width: calc(100% / 6 - 20px);
            }
            .card_box {
                text-align: left;
                max-width: 12.5rem;
                .img_box {
                    height: 11rem;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        button {
            background-color: var(--primary_color);
            margin: 1.25rem 0;
        }
    }
}
.card_selected {
    background-image: linear-gradient(var(--primary_color) 30%, var(--secondary_color) 30%);
    padding-top: 30px;
    .selected_container {
        max-width: var(--container_md);
        margin: auto;
    }
}
